PORT = 5000
DATABASE_CLOUD =  
DATABASE_LOCAL =  
NODE_ENV =  
JWT_SECRET =  


EMAIL_HOST =  
EMAIL_USER =  
EMAIL_PASS =  

FORNTEND_URL = http://localhost:3000

CRYPTR_KEY = 


# GOOGLE Key 
GOOGLE_ClIENT_ID = 
GOOGLE_CLIENT_SECRET =  
